In [7]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import csv

## Subtasks for Data Set 2 (Adult Data Set):

In [8]:
# Reading dataset and printing missing value information

df = pd.read_csv('./Adult Data Set/adult.data', index_col = False, header=None, names=['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'])
df.replace(' ?', np.nan, inplace=True)
missing_values_table(df)

# To handle null values (https://stats.stackexchange.com/questions/228622/handling-null-value-in-logistic-regression)


# One hot encoding using pandas get_dummies and then dropping 
# one category for each categorial feature to preserve linear dependency (https://datascience.stackexchange.com/questions/27957/why-do-we-need-to-discard-one-dummy-variable/27993#27993)

df['workclass'] = df['workclass'].astype('category')
df['education'] = df['education'].astype('category')
df['marital-status'] = df['marital-status'].astype('category')
df['occupation'] = df['occupation'].astype('category')
df['relationship'] = df['relationship'].astype('category')
df['race'] = df['race'].astype('category')
df['sex'] = df['sex'].astype('category')
df['native-country'] = df['native-country'].astype('category')
df = pd.get_dummies(df , drop_first= True)

df.head(50)

Your selected dataframe has 14 columns.
There are 3 columns that have missing values.

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5,37,284582,14,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
6,49,160187,5,0,0,16,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7,52,209642,9,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
8,31,45781,14,14084,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
9,42,159449,13,5178,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
10,37,280464,10,0,0,80,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
11,30,141297,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,23,122272,13,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
13,32,205019,12,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
14,40,121772,11,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
15,34,245487,4,0,0,45,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16,25,176756,9,0,0,35,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
17,32,186824,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
18,38,28887,7,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
19,43,292175,14,0,0,45,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20,40,193524,16,0,0,60,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
21,54,302146,9,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
22,35,76845,5,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23,43,117037,7,0,2042,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
24,59,109015,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
25,56,216851,13,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26,19,168294,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
27,54,180211,10,0,0,60,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28,39,367260,9,0,0,80,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
29,49,193366,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
30,23,190709,12,0,0,52,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
31,20,266015,10,0,0,44,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32,45,386940,13,0,1408,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
33,30,59951,10,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
34,22,311512,10,0,0,15,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
35,48,242406,7,0,0,40,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
36,21,197200,10,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
37,19,544091,9,0,0,25,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
38,31,84154,10,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
39,48,265477,12,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
40,31,507875,5,0,0,43,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
41,53,88506,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
42,24,172987,13,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
43,49,94638,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
44,25,289980,9,0,0,35,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
45,57,337895,13,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
46,53,144361,9,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
47,44,128354,14,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48,41,101603,11,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
49,29,271466,11,0,0,43,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [6]:
def missing_values_table(df):
   
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    # .iloc[:, 1]!= 0: filter on missing missing values not equal to zero
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(2)  # round(2), keep 2 digits
    
    # Print some summary information
    print("Your selected dataframe has {} columns.".format(df.shape[1]) + '\n' + 
    "There are {} columns that have missing values.".format(mis_val_table_ren_columns.shape[0]))
    
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

<h2> Subtasks for Data set 1 (Ionosphere)</h2>

In [20]:
#df is dataframe 
df = pd.read_csv('./IonosphereDataSet/ionosphere.data',header=None)

print(df)

df.describe()

     0   1        2        3        4        5        6        7        8   \
0     1   0  0.99539 -0.05889  0.85243  0.02306  0.83398 -0.37708  1.00000
1     1   0  1.00000 -0.18829  0.93035 -0.36156 -0.10868 -0.93597  1.00000
2     1   0  1.00000 -0.03365  1.00000  0.00485  1.00000 -0.12062  0.88965
3     1   0  1.00000 -0.45161  1.00000  1.00000  0.71216 -1.00000  0.00000
4     1   0  1.00000 -0.02401  0.94140  0.06531  0.92106 -0.23255  0.77152
..   ..  ..      ...      ...      ...      ...      ...      ...      ...
346   1   0  0.83508  0.08298  0.73739 -0.14706  0.84349 -0.05567  0.90441
347   1   0  0.95113  0.00419  0.95183 -0.02723  0.93438 -0.01920  0.94590
348   1   0  0.94701 -0.00034  0.93207 -0.03227  0.95177 -0.03431  0.95584
349   1   0  0.90608 -0.01657  0.98122 -0.01989  0.95691 -0.03646  0.85746
350   1   0  0.84710  0.13533  0.73638 -0.06151  0.87873  0.08260  0.88928

          9   ...       25       26       27       28       29       30  \
0    0.03760  ... -0.51171  0.41078 -0.46168  0.21266 -0.34090  0.42267
1   -0.04549  ... -0.26569 -0.20468 -0.18401 -0.19040 -0.11593 -0.16626
2    0.01198  ... -0.40220  0.58984 -0.22145  0.43100 -0.17365  0.60436
3    0.00000  ...  0.90695  0.51613  1.00000  1.00000 -0.20099  0.25682
4   -0.16399  ... -0.65158  0.13290 -0.53206  0.02431 -0.62197 -0.05707
..       ...  ...      ...      ...      ...      ...      ...      ...
346 -0.04622  ... -0.04202  0.83479  0.00123  1.00000  0.12815  0.86660
347  0.01606  ...  0.01361  0.93522  0.04925  0.93159  0.08168  0.94066
348  0.02446  ...  0.03193  0.92489  0.02542  0.92120  0.02242  0.92459
349  0.00110  ... -0.02099  0.89147 -0.07760  0.82983 -0.17238  0.96022
350 -0.09139  ... -0.15114  0.81147 -0.04822  0.78207 -0.00703  0.75747

          31       32       33  34
0   -0.54487  0.18641 -0.45300   g
1   -0.06288 -0.13738 -0.02447   b
2   -0.24180  0.56045 -0.38238   g
3    1.00000 -0.32382  1.00000   b
4   -0.59573 -0.04608 -0.65697   g
..       ...      ...      ...  ..
346 -0.10714  0.90546 -0.04307   g
347 -0.00035  0.91483  0.04712   g
348  0.00442  0.92697 -0.00577   g
349 -0.03757  0.87403 -0.16243   g
350 -0.06678  0.85764 -0.06151   g

[351 rows x 35 columns]

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
count,351.000000,351.0,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,...,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000
mean,0.891738,0.0,0.641342,0.044372,0.601068,0.115889,0.550095,0.119360,0.511848,0.181345,...,0.396135,-0.071187,0.541641,-0.069538,0.378445,-0.027907,0.352514,-0.003794,0.349364,0.014480
std,0.311155,0.0,0.497708,0.441435,0.519862,0.460810,0.492654,0.520750,0.507066,0.483851,...,0.578451,0.508495,0.516205,0.550025,0.575886,0.507974,0.571483,0.513574,0.522663,0.468337
min,0.000000,0.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,0.0,0.472135,-0.064735,0.412660,-0.024795,0.211310,-0.054840,0.087110,-0.048075,...,0.000000,-0.332390,0.286435,-0.443165,0.000000,-0.236885,0.000000,-0.242595,0.000000,-0.165350
50%,1.000000,0.0,0.871110,0.016310,0.809200,0.022800,0.728730,0.014710,0.684210,0.018290,...,0.553890,-0.015050,0.708240,-0.017690,0.496640,0.000000,0.442770,0.000000,0.409560,0.000000
75%,1.000000,0.0,1.000000,0.194185,1.000000,0.334655,0.969240,0.445675,0.953240,0.534195,...,0.905240,0.156765,0.999945,0.153535,0.883465,0.154075,0.857620,0.200120,0.813765,0.171660
max,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000